<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Company Logo -->
    <a class="navbar-brand" routerLink="/">Neu Cart</a>
    
    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="switchmenu">
      
      <!-- Search Bar and Button -->
      <form class="d-flex justify-content-center col-lg-6 mx-auto" role="search" *ngIf="switchmenu === 'defaultmenu' || switchmenu === 'usermenu'">
        <input #searchInput class="form-control" (keyup)="searchProduct($event)" (blur)="hideSearch()" type="search" placeholder="Search" aria-label="Search">
        <button (click)="submitSearch(searchInput.value)" class="btn btn-light btn-sm"><fa-icon [icon]="headerSearch"></fa-icon></button>
        <ul class="suggested-result" *ngIf="searchResult">
          <li *ngFor="let item of searchResult">
            <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a></li>
        </ul>
      </form>
      
      <!-- Links on the Right (Default Menu) -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngSwitchCase="'defaultmenu'">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="seller-auth">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-auth">Login</a>
        </li>
        
        <li class="nav-item"><button type="button" class="btn btn-light  border-0 btn-sm mt-1 position-relative" routerLink="cart-page">
          Cart
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill cart-count">
            {{cartItems}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button></li>
      </ul>


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngSwitchCase="'usermenu'">

        <li class="nav-item">
          <a class="nav-link" routerLink="seller-auth">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style=" cursor: pointer;"  (click)="userlogout()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand-cursor btn-grad1 btn-sm"  routerLink="user-auth">{{userName | titlecase}}</a>
        </li>
        <li class="nav-item"><button type="button" class="btn border-0 btn-sm mt-1 position-relative" routerLink="cart-page">
          Cart
          <span class="position-absolute top-0 start-100 translate-middle  btn-grad badge rounded-pill cart-count">
            {{cartItems}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button></li>
      </ul>
      
      <!-- Links on the Right (Seller Menu) -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngSwitchCase="'sellermenu'">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="seller-home" routerLinkActive>Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="seller-add-product" routerLinkActive="">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand-cursor" (click)="logout()" >Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-grad1 btn-sm">{{sellerName | titlecase}}</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>