<div class="p-4 m-1">
    <div class="mx-auto p-4 col-lg-8 shadow p-3 mb-5 bg-body-tertiary rounded">
        <form #sellerAddProduct="ngForm" (ngSubmit)="addProduct(sellerAddProduct.value)" method="post">
            <h1 class="text-center">Add Product</h1>
            <hr>
            <table class="table align-middle mb-0 bg-white">
                
                <tbody>
                  <tr>
                    <th class="col-lg-3">Product Name</th>
                    <td><input type="text" name="name" ngModel class="form-control"></td>
                  </tr>
                  <tr>
                    <th>Product Price</th>
                    <td><input type="text" name="price" ngModel class="form-control"></td>
                  </tr>
                  <tr>
                    <th>Product Color</th>
                    <td><input type="text" name="color" ngModel class="form-control"></td>
                  </tr>
                  <tr>
                    <th>Product Category</th>
                    <td><input type="text" name="category" ngModel class="form-control"></td>
                  </tr>
                  <tr>
                    <th>Product Description</th>
                    <td><input type="textarea" name="description" ngModel class="form-control"></td>
                  </tr>
                  <tr>
                    <th>Product Image</th>
                    <td><input type="text" name="imag" class="form-control" ngModel src="" alt=""></td>
                  </tr>
                </tbody>
            </table>
            <div class="form-group mt-3 my-5">
                <button type="submit" class="btn btn-secondary btn-rounded col-lg-5 float-end">Add Products</button>
            </div>
        </form>
    </div>
</div>