.search-item{
    margin: 25px auto;
    width: 800px;
    border-top: 1px solid white;
    padding: 10px;
}

.search-item img{
    width: 100%;
    object-fit: contain;
    height: 150px;
}

.anchor{
    font-size: 24px;
    text-decoration: none;
}

.search-item p{
    margin: 5px;
}

.search-item span{
    margin-right: 10px;
}